{% extends 'base.html.twig' %}

{% block title %}Veterinaire
{% endblock %}

{% block body %}

	<div class="offset-3 col-md-6">
		<table class="table">
			<h1 id="myHeader">Supprimer le Restaurant</h1>
			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ veterinaire.id }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ veterinaire.nom }}</td>
					</tr>
					<tr>
						<th>Adresse</th>
						<td>{{ veterinaire.adresse }}</td>
					</tr>
					<tr>
						<th>CodePostal</th>
						<td>{{ veterinaire.codePostal }}</td>
					</tr>
					<tr>
						<th>Ville</th>
						<td>{{ veterinaire.ville }}</td>
					</tr>
					<tr>
						<th>Lat</th>
						<td>{{ veterinaire.lat }}</td>
					</tr>
					<tr>
						<th>Lon</th>
						<td>{{ veterinaire.lon }}</td>
					</tr>
					<tr>
						<th>Type</th>
						<td>{{ veterinaire.type }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		{{ include('veterinaire/_delete_form.html.twig') }}
		<a href="{{ path('profil_affichage') }}" class="fas fa-undo-alt" title="Retour" id="retour"> RETOUR</a>

		{# <a href="{{ path('veterinaire_edit', {'id': veterinaire.id}) }}">edit</a> #}


	{% endblock %}
