{% extends 'base.html.twig' %}

{% block body %}

<head>

    <title>
        {% block title %}Ajouter un restaurant
        {% endblock %}
    </title>
    <!-- Fichiers CSS -->
    <link rel="stylesheet" href="{{ asset ('/css/ajout.lieu.css') }}" />

</head>

{{ form_start (formRestaurant)}}

<div class="container">
    <div class="offset-md-1">
        <div class="form" style="width:90%;">
            <h1>Ajouter un restaurant</h1>

            {{ form_row(formRestaurant.nom, {} ) }}

            {{ form_row(formRestaurant.type, {} ) }}

            {{ form_row(formRestaurant.adresse, {'id': 'adresse', 'attr': {'class': 'custom-class'}} ) }}

            {{ form_row(formRestaurant.codePostal, {'id': 'cp', 'attr': {'class': 'custom-class'}} ) }}

            {{ form_row(formRestaurant.ville, {'id': 'ville', 'attr': {'class': 'custom-class'}} ) }}

            {{ form_row(formRestaurant.autorisation, {}) }}

            {{ form_row(formRestaurant.lat,  {'id': 'lat', 'attr': {'class': 'custom-class'}} ) }}

            {{ form_row(formRestaurant.lon,  {'id': 'lon', 'attr': {'class': 'custom-class'}} ) }}

            {{ form_widget(formRestaurant.valider, { 'attr': {'class': 'btn', 'type': 'button' }}) }}

            {{ form_end(formRestaurant) }}
        </div>
    </div>
</div>

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% endblock %}
